<div>
    <h1 class="modal-title fs-5" id="exampleModalLabel">Registror De Informacion De Nuevo Producto</h1>
    <form action="{{ url_for('NuevoProducto')}}" autocomplete="off" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label class="form-label">Codigo</label>
            <input type="text" class="form-control" name="Codigo">
        </div>
        <div class="mb-3">
            <label class="form-label">Nombre</label>
            <input type="text" class="form-control" name="Nombre">
        </div>
        <div class="mb-3">
            <label class="form-label">Descripcion</label>
            <input type="text" class="form-control" name="Descripcion">
        </div>
        <div class="mb-3">
            <label class="form-label">Catalogo</label>
            <input type="text" class="form-control" name="Catalogo">
        </div>
        <div class="mb-3">
            <label class="form-label">Precio</label>
            <input type="text" class="form-control" name="Precio">
        </div>
        <div class="mb-3">
            <label class="form-label">Cantidad</label>
            <input type="text" class="form-control" name="Cantidad">
        </div>
        <div class="mb-3">
            <label class="form-label">Image</label>
            <input type="file" accept="image/png, image/jpeg" class="form-control" id="file" name="file">
        </div>
        <div class="mb-3">
            <label class="form-label">Descuento</label>
            <input type="text" class="form-control" name="Descuento">
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Guardar</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
    </form>
</div>