<h2>Compras aun no lo hago</h2>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Codigo</th>
            <th scope="col">Nombre</th>
            <th scope="col">Precio</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <th scope="row">1</th>
            <td>Nuevo</td>
            <td>Nuevo</td>
            <td style="display: flex; gap: 10px;">
                <a href="">
                    <i class="bi bi-bell" style="color: red;"></i>
                </a>
            </td>
        </tr>

    </tbody>
</table>