<div>
    <h1 class="modal-title fs-5" id="exampleModalLabel">Actualizar De Informacion De Usuario</h1>
    <form action="" autocomplete="off" method="post">
        <div class="mb-3">
            <label class="form-label">Nombre Completo</label>
            <input type="text" class="form-control"  name="Nombre">
        </div>
        <div class="mb-3">
            <label class="form-label">Correo</label>
            <input type="email" class="form-control"  placeholder="name@example.com" name="Correo">
        </div>
        <div class="mb-3">
            <label class="form-label">Identificacion</label>
            <input type="text" class="form-control" name="Id">
        </div>
        <div class="mb-3">
            <label class="form-label">Contraseña</label>
            <input type="text" class="form-control" name="password">
        </div>
        <div class="mb-3">
            <label class="form-label">Dirección</label>
            <input type="text" class="form-control" name="Direccion">
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Actualizar</button>
            <a {% if request.args.get('View') == 'Admin' %}
                    href="/Perfil?View=Admin&K=Perfil"
                {%else%}
                    href="/Perfil?View=Usuario&K=Perfil"
                {%endif%}
                class="btn btn-secondary"> Cancelar </a>
        </div>
    </form>
</div>